<script src="/assets/js/bootstrap.bundle.js"></script>
<% if (!locals.public) {%>
    <link href="/assets/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/assets/js/froala_editor.pkgd.min.js"></script>
    <script> 
        var editor = new FroalaEditor('.htmeditor');
    </script>
    <script src="/assets/js/FormManager.js"></script>
    <% } %>
</body>
</html>
