<nav>
    <ul>
        <li><a href="/activities">Atividades</a></li>
        <li><a href="/matters">Materias</a></li>
        <li><a href="/categories">Categorias</a></li>
        <li><a href="/user">Usuario</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>